@CHARSET "UTF-8";

body{
	background-color: #f8feb1;
}
#newExp{
	background-color: #ff6979;
}
newEdu{
	background-color: #ff6979;
}
#frm2{
  display:none;
}
img{
	width:100%;
	height:100px;
}
#frm3{
  display:none;
}

#workdetailsDiv{
  display:none;
}
#newExpButton{
  display:none;
}
#edudetailsDiv{
  display:none;
}
#newEduButton{
  display:none;
}
input[type="month"]::before { 
	content: attr(data-placeholder);
}
input[type="month"]:focus::before,
input[type="month"]:valid::before { 
  content:"" ;
}
.glyphicon{
  float:right;
}
#resume{
	 border-radius: 25px;
	     border: 2px solid #c6cdbb;
    padding: 20px; 
    width: 700px;
    height: 400px; 
}

pre {
    display: block;
        padding: 5px;    
    white-space: pre;
    margin: 1em 0;
    background-color: #f8feb1;
    border: none;
}

.clonedWorkDetailsDiv{
	background-color: #f8feb1;
}
.clonedEduDetailsDiv{
	background-color: #f8feb1;
}